In [196]:
import math

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv("creditPrediction.csv")
df

,CLIENTNUM,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Unnamed: 19
0,768805383,45.0,M,3,High School,Married,$60K - $80K,Blue,39.0,5.0,1,3,12691.0,777,1.335,1144,42,1.625,0.061,NaN
1,818770008,49.0,F,5,Graduate,NaN,Less than $40K,Blue,44.0,6.0,1,2,8256.0,864,1.541,1291,33,3.714,0.105,NaN
2,713982108,51.0,M,3,Graduate,Married,$80K - $120K,Blue,36.0,4.0,1,0,3418.0,0,2.594,1887,20,2.333,0.000,NaN
3,769911858,40.0,F,4,High School,NaN,Less than $40K,Blue,34.0,3.0,4,1,3313.0,2517,1.405,1171,20,2.333,0.760,NaN
4,709106358,40.0,M,3,Uneducated,Married,$60K - $80K,NaN,21.0,5.0,1,0,4716.0,0,2.175,816,28,2.500,0.000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10162,718673358,35.0,M,3,Doctorate,NaN,$80K - $120K,Blue,30.0,5.0,3,4,13590.0,1528,0.728,2137,52,0.486,0.112,NaN
10163,715207458,46.0,F,1,Unknown,Single,Less than $40K,Blue,39.0,2.0,2,1,2029.0,1074,0.514,4802,90,0.800,0.529,NaN
10164,803665983,52.0,M,0,Unknown,NaN,$60K - $80K,Blue,46.0,3.0,2,4,2742.0,2184,0.592,3829,72,0.532,0.796,NaN
10165,713183508,39.0,F,1,High School,NaN,Unknown,NaN,36.0,1.0,3,2,2751.0,1158,0.821,4861,82,0.822,0.421,NaN
10166,718893333,52.0,M,3,Graduate,NaN,$60K - $80K,Blue,36.0,3.0,3,2,18336.0,2077,0.718,7509,84,0.647,0.113,NaN

In [77]:
mod_marriage = df["Marital_Status"].mode()
mod_marriage

0    Married
Name: Marital_Status, dtype: object

In [80]:

mod_marriage = mod_marriage[0]
new_col = df["Marital_Status"].replace(np.nan, mod_marriage)
df["Marital_Status"] = new_col.values
new_col = df["Marital_Status"].replace("Unknown", mod_marriage)
df["Marital_Status"] = new_col.values
df

,CLIENTNUM,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Unnamed: 19
0,768805383,45.0,M,3,High School,Married,$60K - $80K,Blue,39.0,5.0,1,3,12691.0,777,1.335,1144,42,1.625,0.061,NaN
1,818770008,49.0,F,5,Graduate,Married,Less than $40K,Blue,44.0,6.0,1,2,8256.0,864,1.541,1291,33,3.714,0.105,NaN
2,713982108,51.0,M,3,Graduate,Married,$80K - $120K,Blue,36.0,4.0,1,0,3418.0,0,2.594,1887,20,2.333,0.000,NaN
3,769911858,40.0,F,4,High School,Married,Less than $40K,Blue,34.0,3.0,4,1,3313.0,2517,1.405,1171,20,2.333,0.760,NaN
4,709106358,40.0,M,3,Uneducated,Married,$60K - $80K,NaN,21.0,5.0,1,0,4716.0,0,2.175,816,28,2.500,0.000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10162,718673358,35.0,M,3,Doctorate,Married,$80K - $120K,Blue,30.0,5.0,3,4,13590.0,1528,0.728,2137,52,0.486,0.112,NaN
10163,715207458,46.0,F,1,Unknown,Single,Less than $40K,Blue,39.0,2.0,2,1,2029.0,1074,0.514,4802,90,0.800,0.529,NaN
10164,803665983,52.0,M,0,Unknown,Married,$60K - $80K,Blue,46.0,3.0,2,4,2742.0,2184,0.592,3829,72,0.532,0.796,NaN
10165,713183508,39.0,F,1,High School,Married,Unknown,NaN,36.0,1.0,3,2,2751.0,1158,0.821,4861,82,0.822,0.421,NaN
10166,718893333,52.0,M,3,Graduate,Married,$60K - $80K,Blue,36.0,3.0,3,2,18336.0,2077,0.718,7509,84,0.647,0.113,NaN

In [9]:
df["Customer_Age"].isnull().values.any()

False

In [81]:
mod_gender = df["Gender"].mode()
mod_gender

Gender
F    5464
M    4703
Name: count, dtype: int64

In [76]:

mod_gender = mod_marriage[0]
new_col = df["Gender"].replace(np.nan, mod_gender)
df["Gender"] = new_col.values
df

,CLIENTNUM,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Unnamed: 19
0,768805383,45.0,M,3,High School,Married,$60K - $80K,Blue,39.0,5.0,1,3,12691.0,777,1.335,1144,42,1.625,0.061,NaN
1,818770008,49.0,F,5,Graduate,NaN,Less than $40K,Blue,44.0,6.0,1,2,8256.0,864,1.541,1291,33,3.714,0.105,NaN
2,713982108,51.0,M,3,Graduate,Married,$80K - $120K,Blue,36.0,4.0,1,0,3418.0,0,2.594,1887,20,2.333,0.000,NaN
3,769911858,40.0,F,4,High School,NaN,Less than $40K,Blue,34.0,3.0,4,1,3313.0,2517,1.405,1171,20,2.333,0.760,NaN
4,709106358,40.0,M,3,Uneducated,Married,$60K - $80K,NaN,21.0,5.0,1,0,4716.0,0,2.175,816,28,2.500,0.000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10162,718673358,35.0,M,3,Doctorate,NaN,$80K - $120K,Blue,30.0,5.0,3,4,13590.0,1528,0.728,2137,52,0.486,0.112,NaN
10163,715207458,46.0,F,1,Unknown,Single,Less than $40K,Blue,39.0,2.0,2,1,2029.0,1074,0.514,4802,90,0.800,0.529,NaN
10164,803665983,52.0,M,0,Unknown,NaN,$60K - $80K,Blue,46.0,3.0,2,4,2742.0,2184,0.592,3829,72,0.532,0.796,NaN
10165,713183508,39.0,F,1,High School,NaN,Unknown,NaN,36.0,1.0,3,2,2751.0,1158,0.821,4861,82,0.822,0.421,NaN
10166,718893333,52.0,M,3,Graduate,NaN,$60K - $80K,Blue,36.0,3.0,3,2,18336.0,2077,0.718,7509,84,0.647,0.113,NaN

In [86]:
mod_edu = df["Education_Level"].value_counts()
mod_edu

Education_Level
Graduate         4663
High School      2024
Uneducated       1490
College          1020
Post-Graduate     518
Doctorate         452
Name: count, dtype: int64

In [83]:
mod_edu = df["Education_Level"].mode()
mod_edu = mod_edu[0]
new_col = df["Education_Level"].replace("Unknown", mod_edu)
df["Education_Level"] = new_col.values
df

,CLIENTNUM,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Unnamed: 19
0,768805383,45.0,M,3,High School,High School,$60K - $80K,Blue,39.0,5.0,1,3,12691.0,777,1.335,1144,42,1.625,0.061,NaN
1,818770008,49.0,F,5,Graduate,Graduate,Less than $40K,Blue,44.0,6.0,1,2,8256.0,864,1.541,1291,33,3.714,0.105,NaN
2,713982108,51.0,M,3,Graduate,Graduate,$80K - $120K,Blue,36.0,4.0,1,0,3418.0,0,2.594,1887,20,2.333,0.000,NaN
3,769911858,40.0,F,4,High School,High School,Less than $40K,Blue,34.0,3.0,4,1,3313.0,2517,1.405,1171,20,2.333,0.760,NaN
4,709106358,40.0,M,3,Uneducated,Uneducated,$60K - $80K,NaN,21.0,5.0,1,0,4716.0,0,2.175,816,28,2.500,0.000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10162,718673358,35.0,M,3,Doctorate,Doctorate,$80K - $120K,Blue,30.0,5.0,3,4,13590.0,1528,0.728,2137,52,0.486,0.112,NaN
10163,715207458,46.0,F,1,Graduate,Graduate,Less than $40K,Blue,39.0,2.0,2,1,2029.0,1074,0.514,4802,90,0.800,0.529,NaN
10164,803665983,52.0,M,0,Graduate,Graduate,$60K - $80K,Blue,46.0,3.0,2,4,2742.0,2184,0.592,3829,72,0.532,0.796,NaN
10165,713183508,39.0,F,1,High School,High School,Unknown,NaN,36.0,1.0,3,2,2751.0,1158,0.821,4861,82,0.822,0.421,NaN
10166,718893333,52.0,M,3,Graduate,Graduate,$60K - $80K,Blue,36.0,3.0,3,2,18336.0,2077,0.718,7509,84,0.647,0.113,NaN

In [91]:
mod_inc = df["Income_Category"].mode()
mod_inc = mod_inc[0]
new_col = df["Income_Category"].replace("Unknown", mod_inc)
df["Income_Category"] = new_col.values
df

Income_Category
Less than $40K    4690
$40K - $60K       1798
$80K - $120K      1544
$60K - $80K       1406
$120K +            729
Name: count, dtype: int64

In [94]:
mod_card_cat = df["Card_Category"].value_counts()
mod_card_cat

Card_Category
Blue        7666
Silver       464
Gold          97
Platinum      16
Name: count, dtype: int64

In [95]:
mod_card_cat = df["Card_Category"].mode()
mod_card_cat = mod_card_cat[0]
new_col = df["Card_Category"].replace(np.nan, mod_card_cat)
df["Card_Category"] = new_col.values
df

,CLIENTNUM,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Unnamed: 19
0,768805383,45.0,M,3,High School,High School,$60K - $80K,Blue,39.0,5.0,1,3,12691.0,777,1.335,1144,42,1.625,0.061,NaN
1,818770008,49.0,F,5,Graduate,Graduate,Less than $40K,Blue,44.0,6.0,1,2,8256.0,864,1.541,1291,33,3.714,0.105,NaN
2,713982108,51.0,M,3,Graduate,Graduate,$80K - $120K,Blue,36.0,4.0,1,0,3418.0,0,2.594,1887,20,2.333,0.000,NaN
3,769911858,40.0,F,4,High School,High School,Less than $40K,Blue,34.0,3.0,4,1,3313.0,2517,1.405,1171,20,2.333,0.760,NaN
4,709106358,40.0,M,3,Uneducated,Uneducated,$60K - $80K,Blue,21.0,5.0,1,0,4716.0,0,2.175,816,28,2.500,0.000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10162,718673358,35.0,M,3,Doctorate,Doctorate,$80K - $120K,Blue,30.0,5.0,3,4,13590.0,1528,0.728,2137,52,0.486,0.112,NaN
10163,715207458,46.0,F,1,Graduate,Graduate,Less than $40K,Blue,39.0,2.0,2,1,2029.0,1074,0.514,4802,90,0.800,0.529,NaN
10164,803665983,52.0,M,0,Graduate,Graduate,$60K - $80K,Blue,46.0,3.0,2,4,2742.0,2184,0.592,3829,72,0.532,0.796,NaN
10165,713183508,39.0,F,1,High School,High School,Less than $40K,Blue,36.0,1.0,3,2,2751.0,1158,0.821,4861,82,0.822,0.421,NaN
10166,718893333,52.0,M,3,Graduate,Graduate,$60K - $80K,Blue,36.0,3.0,3,2,18336.0,2077,0.718,7509,84,0.647,0.113,NaN

In [103]:
mean_month = df["Months_on_book"].mean()
mean_month.round()
new_col = df["Months_on_book"].replace(np.nan, mean_month)
df["Months_on_book"] = new_col.values
df

,CLIENTNUM,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Unnamed: 19
0,768805383,45.0,M,3,High School,High School,$60K - $80K,Blue,39.0,5.0,1,3,12691.0,777,1.335,1144,42,1.625,0.061,NaN
1,818770008,49.0,F,5,Graduate,Graduate,Less than $40K,Blue,44.0,6.0,1,2,8256.0,864,1.541,1291,33,3.714,0.105,NaN
2,713982108,51.0,M,3,Graduate,Graduate,$80K - $120K,Blue,36.0,4.0,1,0,3418.0,0,2.594,1887,20,2.333,0.000,NaN
3,769911858,40.0,F,4,High School,High School,Less than $40K,Blue,34.0,3.0,4,1,3313.0,2517,1.405,1171,20,2.333,0.760,NaN
4,709106358,40.0,M,3,Uneducated,Uneducated,$60K - $80K,Blue,21.0,5.0,1,0,4716.0,0,2.175,816,28,2.500,0.000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10162,718673358,35.0,M,3,Doctorate,Doctorate,$80K - $120K,Blue,30.0,5.0,3,4,13590.0,1528,0.728,2137,52,0.486,0.112,NaN
10163,715207458,46.0,F,1,Graduate,Graduate,Less than $40K,Blue,39.0,2.0,2,1,2029.0,1074,0.514,4802,90,0.800,0.529,NaN
10164,803665983,52.0,M,0,Graduate,Graduate,$60K - $80K,Blue,46.0,3.0,2,4,2742.0,2184,0.592,3829,72,0.532,0.796,NaN
10165,713183508,39.0,F,1,High School,High School,Less than $40K,Blue,36.0,1.0,3,2,2751.0,1158,0.821,4861,82,0.822,0.421,NaN
10166,718893333,52.0,M,3,Graduate,Graduate,$60K - $80K,Blue,36.0,3.0,3,2,18336.0,2077,0.718,7509,84,0.647,0.113,NaN

In [109]:
mean_total = df["Total_Relationship_Count"].value_counts()
mean_total

Total_Relationship_Count
3.0    2310
4.0    1919
5.0    1891
6.0    1873
2.0    1240
1.0     914
Name: count, dtype: int64

In [160]:
df['Customer_Age'].value_counts()

Customer_Age
44.000000     502
49.000000     496
46.000000     493
45.000000     485
47.000000     480
             ...
230.297705      1
342.081289      1
337.305494      1
348.812169      1
330.297464      1
Name: count, Length: 62, dtype: int64

In [118]:
mean_total = df["Total_Relationship_Count"].mean()
mean_total = mean_total.round()

In [119]:
new_col = df["Total_Relationship_Count"].replace(np.nan, mean_total)
df["Total_Relationship_Count"] = new_col.values
df

,CLIENTNUM,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Unnamed: 19
0,768805383,45.0,M,3,High School,Married,$60K - $80K,Blue,39.0,5.0,1,3,12691.0,777,1.335,1144,42,1.625,0.061,NaN
1,818770008,49.0,F,5,Graduate,NaN,Less than $40K,Blue,44.0,6.0,1,2,8256.0,864,1.541,1291,33,3.714,0.105,NaN
2,713982108,51.0,M,3,Graduate,Married,$80K - $120K,Blue,36.0,4.0,1,0,3418.0,0,2.594,1887,20,2.333,0.000,NaN
3,769911858,40.0,F,4,High School,NaN,Less than $40K,Blue,34.0,3.0,4,1,3313.0,2517,1.405,1171,20,2.333,0.760,NaN
4,709106358,40.0,M,3,Uneducated,Married,$60K - $80K,NaN,21.0,5.0,1,0,4716.0,0,2.175,816,28,2.500,0.000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10162,718673358,35.0,M,3,Doctorate,NaN,$80K - $120K,Blue,30.0,5.0,3,4,13590.0,1528,0.728,2137,52,0.486,0.112,NaN
10163,715207458,46.0,F,1,Unknown,Single,Less than $40K,Blue,39.0,2.0,2,1,2029.0,1074,0.514,4802,90,0.800,0.529,NaN
10164,803665983,52.0,M,0,Unknown,NaN,$60K - $80K,Blue,46.0,3.0,2,4,2742.0,2184,0.592,3829,72,0.532,0.796,NaN
10165,713183508,39.0,F,1,High School,NaN,Unknown,NaN,36.0,1.0,3,2,2751.0,1158,0.821,4861,82,0.822,0.421,NaN
10166,718893333,52.0,M,3,Graduate,NaN,$60K - $80K,Blue,36.0,3.0,3,2,18336.0,2077,0.718,7509,84,0.647,0.113,NaN

In [129]:
df = df.drop("Unnamed: 19", axis=1)
df

,CLIENTNUM,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,768805383,45.0,M,3,High School,Married,$60K - $80K,Blue,39.0,5.0,1,3,12691.0,777,1.335,1144,42,1.625,0.061
1,818770008,49.0,F,5,Graduate,NaN,Less than $40K,Blue,44.0,6.0,1,2,8256.0,864,1.541,1291,33,3.714,0.105
2,713982108,51.0,M,3,Graduate,Married,$80K - $120K,Blue,36.0,4.0,1,0,3418.0,0,2.594,1887,20,2.333,0.000
3,769911858,40.0,F,4,High School,NaN,Less than $40K,Blue,34.0,3.0,4,1,3313.0,2517,1.405,1171,20,2.333,0.760
4,709106358,40.0,M,3,Uneducated,Married,$60K - $80K,NaN,21.0,5.0,1,0,4716.0,0,2.175,816,28,2.500,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10162,718673358,35.0,M,3,Doctorate,NaN,$80K - $120K,Blue,30.0,5.0,3,4,13590.0,1528,0.728,2137,52,0.486,0.112
10163,715207458,46.0,F,1,Unknown,Single,Less than $40K,Blue,39.0,2.0,2,1,2029.0,1074,0.514,4802,90,0.800,0.529
10164,803665983,52.0,M,0,Unknown,NaN,$60K - $80K,Blue,46.0,3.0,2,4,2742.0,2184,0.592,3829,72,0.532,0.796
10165,713183508,39.0,F,1,High School,NaN,Unknown,NaN,36.0,1.0,3,2,2751.0,1158,0.821,4861,82,0.822,0.421
10166,718893333,52.0,M,3,Graduate,NaN,$60K - $80K,Blue,36.0,3.0,3,2,18336.0,2077,0.718,7509,84,0.647,0.113

In [130]:
# Encoding Non-Sequential Features Using One-Hot Encoding
df_encoded = pd.get_dummies(df['Marital_Status'], prefix='Marital_Status')
df_encoded = df_encoded.astype(int)
df = pd.concat([df, df_encoded], axis=1)
df.drop('Marital_Status', axis=1, inplace=True)

df_encoded = pd.get_dummies(df['Card_Category'], prefix='Card_Category')
df_encoded = df_encoded.astype(int)
df = pd.concat([df, df_encoded], axis=1)
df.drop('Card_Category', axis=1, inplace=True)

,CLIENTNUM,Customer_Age,Gender,Dependent_count,Education_Level,Income_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,...,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Marital_Status_Divorced,Marital_Status_Married,Marital_Status_Single,Marital_Status_Unknown,Card_Category_Blue,Card_Category_Gold,Card_Category_Platinum,Card_Category_Silver
0,768805383,45.0,M,3,High School,$60K - $80K,39.0,5.0,1,3,...,1.625,0.061,0,1,0,0,1,0,0,0
1,818770008,49.0,F,5,Graduate,Less than $40K,44.0,6.0,1,2,...,3.714,0.105,0,0,0,0,1,0,0,0
2,713982108,51.0,M,3,Graduate,$80K - $120K,36.0,4.0,1,0,...,2.333,0.000,0,1,0,0,1,0,0,0
3,769911858,40.0,F,4,High School,Less than $40K,34.0,3.0,4,1,...,2.333,0.760,0,0,0,0,1,0,0,0
4,709106358,40.0,M,3,Uneducated,$60K - $80K,21.0,5.0,1,0,...,2.500,0.000,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10162,718673358,35.0,M,3,Doctorate,$80K - $120K,30.0,5.0,3,4,...,0.486,0.112,0,0,0,0,1,0,0,0
10163,715207458,46.0,F,1,Unknown,Less than $40K,39.0,2.0,2,1,...,0.800,0.529,0,0,1,0,1,0,0,0
10164,803665983,52.0,M,0,Unknown,$60K - $80K,46.0,3.0,2,4,...,0.532,0.796,0,0,0,0,1,0,0,0
10165,713183508,39.0,F,1,High School,Unknown,36.0,1.0,3,2,...,0.822,0.421,0,0,0,0,0,0,0,0
10166,718893333,52.0,M,3,Graduate,$60K - $80K,36.0,3.0,3,2,...,0.647,0.113,0,0,0,0,1,0,0,0

In [21]:
df["Education_Level"].value_counts()

Education_Level
Graduate         3141
High School      2024
Unknown          1522
Uneducated       1490
College          1020
Post-Graduate     518
Doctorate         452
Name: count, dtype: int64

In [ ]:
df["Education_Level"] = df["Education_Level"].map({"Uneducated": 1, "High School": 2, "College": 3,
                                                   "Graduate": 4, "Post-Graduate": 5, "Doctorate": 6})

In [136]:
column_to_move = df.pop("Credit_Limit")
df.insert(len(df.columns), "Credit_Limit", column_to_move)
df

,CLIENTNUM,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Total_Revolving_Bal,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Unnamed: 19,Credit_Limit
0,768805383,45.0,M,3,High School,Married,$60K - $80K,Blue,39.0,5.0,1,3,777,1.335,1144,42,1.625,0.061,NaN,12691.0
1,818770008,49.0,F,5,Graduate,NaN,Less than $40K,Blue,44.0,6.0,1,2,864,1.541,1291,33,3.714,0.105,NaN,8256.0
2,713982108,51.0,M,3,Graduate,Married,$80K - $120K,Blue,36.0,4.0,1,0,0,2.594,1887,20,2.333,0.000,NaN,3418.0
3,769911858,40.0,F,4,High School,NaN,Less than $40K,Blue,34.0,3.0,4,1,2517,1.405,1171,20,2.333,0.760,NaN,3313.0
4,709106358,40.0,M,3,Uneducated,Married,$60K - $80K,NaN,21.0,5.0,1,0,0,2.175,816,28,2.500,0.000,NaN,4716.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10162,718673358,35.0,M,3,Doctorate,NaN,$80K - $120K,Blue,30.0,5.0,3,4,1528,0.728,2137,52,0.486,0.112,NaN,13590.0
10163,715207458,46.0,F,1,Unknown,Single,Less than $40K,Blue,39.0,2.0,2,1,1074,0.514,4802,90,0.800,0.529,NaN,2029.0
10164,803665983,52.0,M,0,Unknown,NaN,$60K - $80K,Blue,46.0,3.0,2,4,2184,0.592,3829,72,0.532,0.796,NaN,2742.0
10165,713183508,39.0,F,1,High School,NaN,Unknown,NaN,36.0,1.0,3,2,1158,0.821,4861,82,0.822,0.421,NaN,2751.0
10166,718893333,52.0,M,3,Graduate,NaN,$60K - $80K,Blue,36.0,3.0,3,2,2077,0.718,7509,84,0.647,0.113,NaN,18336.0

In [198]:
Q1 = df['Customer_Age'].quantile(0.25)
Q3 = df['Customer_Age'].quantile(0.75)
IQR = Q3 - Q1
lower = Q1 - 1.5*IQR
upper = Q3 + 1.5*IQR
 
# Create arrays of Boolean values indicating the outlier rows
upper_array = np.where(df['Customer_Age'] >= upper)[0]
lower_array = np.where(df['Customer_Age'] <= lower)[0]
 
# Removing the outliers
df.drop(index=upper_array, inplace=True)
df.drop(index=lower_array, inplace=True)
 
df

,CLIENTNUM,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Unnamed: 19
0,768805383,45.0,M,3,High School,Married,$60K - $80K,Blue,39.0,5.0,1,3,12691.0,777,1.335,1144,42,1.625,0.061,NaN
1,818770008,49.0,F,5,Graduate,NaN,Less than $40K,Blue,44.0,6.0,1,2,8256.0,864,1.541,1291,33,3.714,0.105,NaN
2,713982108,51.0,M,3,Graduate,Married,$80K - $120K,Blue,36.0,4.0,1,0,3418.0,0,2.594,1887,20,2.333,0.000,NaN
3,769911858,40.0,F,4,High School,NaN,Less than $40K,Blue,34.0,3.0,4,1,3313.0,2517,1.405,1171,20,2.333,0.760,NaN
4,709106358,40.0,M,3,Uneducated,Married,$60K - $80K,NaN,21.0,5.0,1,0,4716.0,0,2.175,816,28,2.500,0.000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10162,718673358,35.0,M,3,Doctorate,NaN,$80K - $120K,Blue,30.0,5.0,3,4,13590.0,1528,0.728,2137,52,0.486,0.112,NaN
10163,715207458,46.0,F,1,Unknown,Single,Less than $40K,Blue,39.0,2.0,2,1,2029.0,1074,0.514,4802,90,0.800,0.529,NaN
10164,803665983,52.0,M,0,Unknown,NaN,$60K - $80K,Blue,46.0,3.0,2,4,2742.0,2184,0.592,3829,72,0.532,0.796,NaN
10165,713183508,39.0,F,1,High School,NaN,Unknown,NaN,36.0,1.0,3,2,2751.0,1158,0.821,4861,82,0.822,0.421,NaN
10166,718893333,52.0,M,3,Graduate,NaN,$60K - $80K,Blue,36.0,3.0,3,2,18336.0,2077,0.718,7509,84,0.647,0.113,NaN

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv("creditPrediction.csv")

"""""
data preprocessing

"""""

# drop last column because all NaN
df = df.drop("Unnamed: 19", axis=1)
df = df.drop("CLIENTNUM", axis=1)


# replace mod of Marital Status for NaN and Unknown
mod_marriage = df["Marital_Status"].mode()
mod_marriage = mod_marriage[0]
new_col = df["Marital_Status"].replace(np.nan, mod_marriage)
df["Marital_Status"] = new_col.values
new_col = df["Marital_Status"].replace("Unknown", mod_marriage)
df["Marital_Status"] = new_col.values

# replace mod of Gender for NaN
mod_gender = df["Gender"].mode()
mod_gender = mod_gender[0]
new_col = df["Gender"].replace(np.nan, mod_gender)
df["Gender"] = new_col.values

# replace mod of Education_Level for Unknown
mod_edu = df["Education_Level"].mode()
mod_edu = mod_edu[0]
new_col = df["Education_Level"].replace("Unknown", mod_edu)
df["Education_Level"] = new_col.values

# replace mod Income_Category for Unknown
mod_inc = df["Income_Category"].mode()
mod_inc = mod_inc[0]
new_col = df["Income_Category"].replace("Unknown", mod_inc)
df["Income_Category"] = new_col.values

# replace mod Card_Category for NaN
mod_card_cat = df["Card_Category"].mode()
mod_card_cat = mod_card_cat[0]
new_col = df["Card_Category"].replace(np.nan, mod_card_cat)
df["Card_Category"] = new_col.values

# replace mean Months_on_book for NaN
mean_month = df["Months_on_book"].mean()
mean_month = mean_month.round()
new_col = df["Months_on_book"].replace(np.nan, mean_month)
df["Months_on_book"] = new_col.values

# replace mean Total_Relationship_count for NaN
mean_total = df["Total_Relationship_Count"].mean()
mean_total = mean_total.round()
new_col = df["Total_Relationship_Count"].replace(np.nan, mean_total)
df["Total_Relationship_Count"] = new_col.values

# Now we convert the string type columns into numbers using One Hot Encoding

df_encoded = pd.get_dummies(df['Marital_Status'], prefix='Marital_Status')
df_encoded = df_encoded.astype(int)
df = pd.concat([df, df_encoded], axis=1)
df.drop('Marital_Status', axis=1, inplace=True)

df_encoded = pd.get_dummies(df['Card_Category'], prefix='Card_Category')
df_encoded = df_encoded.astype(int)
df = pd.concat([df, df_encoded], axis=1)
df.drop('Card_Category', axis=1, inplace=True)

df_encoded = pd.get_dummies(df['Gender'], prefix='Gender')
df_encoded = df_encoded.astype(int)
df = pd.concat([df, df_encoded], axis=1)
df.drop('Gender', axis=1, inplace=True)

df_encoded = pd.get_dummies(df["Education_Level"], prefix="Education_Level")
df_encoded = df_encoded.astype(int)
df = pd.concat([df, df_encoded], axis=1)
df.drop("Education_Level", axis=1, inplace=True)

df_encoded = pd.get_dummies(df["Income_Category"], prefix="Income_Category")
df_encoded = df_encoded.astype(int)
df = pd.concat([df, df_encoded], axis=1)
df.drop("Income_Category", axis=1, inplace=True)

# move the label column to be the last column
column_to_move = df.pop("Credit_Limit")
df.insert(len(df.columns), "Credit_Limit", column_to_move)

df

,Customer_Age,Dependent_count,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Total_Revolving_Bal,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,...,Education_Level_Graduate,Education_Level_High School,Education_Level_Post-Graduate,Education_Level_Uneducated,Income_Category_$120K +,Income_Category_$40K - $60K,Income_Category_$60K - $80K,Income_Category_$80K - $120K,Income_Category_Less than $40K,Credit_Limit
0,45.0,3,39.0,5.0,1,3,777,1.335,1144,42,...,0,1,0,0,0,0,1,0,0,12691.0
1,49.0,5,44.0,6.0,1,2,864,1.541,1291,33,...,1,0,0,0,0,0,0,0,1,8256.0
2,51.0,3,36.0,4.0,1,0,0,2.594,1887,20,...,1,0,0,0,0,0,0,1,0,3418.0
3,40.0,4,34.0,3.0,4,1,2517,1.405,1171,20,...,0,1,0,0,0,0,0,0,1,3313.0
4,40.0,3,21.0,5.0,1,0,0,2.175,816,28,...,0,0,0,1,0,0,1,0,0,4716.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10162,35.0,3,30.0,5.0,3,4,1528,0.728,2137,52,...,0,0,0,0,0,0,0,1,0,13590.0
10163,46.0,1,39.0,2.0,2,1,1074,0.514,4802,90,...,1,0,0,0,0,0,0,0,1,2029.0
10164,52.0,0,46.0,3.0,2,4,2184,0.592,3829,72,...,1,0,0,0,0,0,1,0,0,2742.0
10165,39.0,1,36.0,1.0,3,2,1158,0.821,4861,82,...,0,1,0,0,0,0,0,0,1,2751.0
10166,52.0,3,36.0,3.0,3,2,2077,0.718,7509,84,...,1,0,0,0,0,0,1,0,0,18336.0

In [4]:
# Define a function to replace outliers with the mode of each column using IQR
def replace_outliers_with_mode_iqr(data):
    # Initialize an empty DataFrame to store the results
    result = pd.DataFrame(index=data.index, columns=data.columns)

    # Loop through each column in the DataFrame
    for col in data.columns:
        Q1 = data[col].quantile(0.25)  # 25th percentile (Q1)
        Q3 = data[col].quantile(0.75)  # 75th percentile (Q3)
        IQR = Q3 - Q1  # Interquartile Range (IQR)
        lower_bound = Q1 - 1.5 * IQR  # Lower bound for outliers
        upper_bound = Q3 + 1.5 * IQR  # Upper bound for outliers

        # Replace outliers with mode for the current column
        mode_val = data.loc[(data[col] >= lower_bound) & (data[col] <= upper_bound), col].mode()[0]
        result[col] = data[col].apply(lambda x: mode_val if x < lower_bound or x > upper_bound else x)

    return result

# Apply the function to replace outliers with mode for each column separately
df = replace_outliers_with_mode_iqr(df)
df

,Customer_Age,Dependent_count,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Total_Revolving_Bal,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,...,Education_Level_Graduate,Education_Level_High School,Education_Level_Post-Graduate,Education_Level_Uneducated,Income_Category_$120K +,Income_Category_$40K - $60K,Income_Category_$60K - $80K,Income_Category_$80K - $120K,Income_Category_Less than $40K,Credit_Limit
0,45.0,3,39.0,5.0,1,3,777,0.791,1144,42,...,0,0,0,0,0,0,0,0,0,12691.0
1,49.0,5,44.0,6.0,1,2,864,0.791,1291,33,...,1,0,0,0,0,0,0,0,1,8256.0
2,51.0,3,36.0,4.0,1,3,0,0.791,1887,20,...,1,0,0,0,0,0,0,0,0,3418.0
3,40.0,4,34.0,3.0,4,1,2517,0.791,1171,20,...,0,0,0,0,0,0,0,0,1,3313.0
4,40.0,3,21.0,5.0,1,3,0,0.791,816,28,...,0,0,0,0,0,0,0,0,0,4716.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10162,35.0,3,30.0,5.0,3,4,1528,0.728,2137,52,...,0,0,0,0,0,0,0,0,0,13590.0
10163,46.0,1,39.0,2.0,2,1,1074,0.514,4802,90,...,1,0,0,0,0,0,0,0,1,2029.0
10164,52.0,0,46.0,3.0,2,4,2184,0.592,3829,72,...,1,0,0,0,0,0,0,0,0,2742.0
10165,39.0,1,36.0,1.0,3,2,1158,0.821,4861,82,...,0,0,0,0,0,0,0,0,1,2751.0
10166,52.0,3,36.0,3.0,3,2,2077,0.718,7509,84,...,1,0,0,0,0,0,0,0,0,18336.0

In [327]:
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import Ridge
from sklearn.preprocessing import PolynomialFeatures
from sklearn.ensemble import RandomForestRegressor
from sklearn.neural_network import MLPRegressor
from sklearn.model_selection import GridSearchCV
import math

pf = PolynomialFeatures(degree=2)

scaler = StandardScaler()
# scaler = MinMaxScaler()


y = df.pop("Credit_Limit")
# df_normalized = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)

x = np.array(df)
y = np.array(y)
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.1, shuffle=True)
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)
 
X_train_poly = pf.fit_transform(X_train)
X_test_poly = pf.transform(X_test)

X_train_poly = scaler.fit_transform(X_train_poly)
X_test_poly = scaler.transform(X_test_poly)

# model = LinearRegression()
# model = Ridge()
model = RandomForestRegressor(n_estimators=100, random_state=0, max_depth=15)
# model = MLPRegressor(max_iter=1500, random_state=0, alpha= 0.0001, learning_rate='adaptive', learning_rate_init=0.01, hidden_layer_sizes=(100,), solver='adam')

# model.fit(X_train, y_train)
# y_pred = model.predict(X_test)

model.fit(X_train_poly, y_train)
y_pred = model.predict(X_test_poly)



mse = round(mean_squared_error(y_true=y_test,y_pred=y_pred))
# r2 = round(r2_score(y_test, y_pred), 2)
# mae = round(mean_absolute_error(y_test, y_pred))
rmse = round(math.sqrt(mse))

# print(r2)
print(mse)
print(rmse)

KeyboardInterrupt:

In [173]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

# scaler = MinMaxScaler()
scaler = StandardScaler()

df.drop('Credit_Limit', axis=1, inplace=True)
df_normalized = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)

df_normalized

,Customer_Age,Dependent_count,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Total_Revolving_Bal,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,...,Education_Level_Doctorate,Education_Level_Graduate,Education_Level_High School,Education_Level_Post-Graduate,Education_Level_Uneducated,Income_Category_$120K +,Income_Category_$40K - $60K,Income_Category_$60K - $80K,Income_Category_$80K - $120K,Income_Category_Less than $40K
0,-0.129722,0.503210,0.390877,0.763856,-1.327718,0.492176,-0.472585,2.626325,-0.960093,-0.974593,...,-0.215699,-0.920436,2.005797,-0.231699,-0.414389,-0.277923,-0.463509,2.496228,-0.423150,-0.925369
1,0.166140,2.043285,1.024452,1.407706,-1.327718,-0.412371,-0.365842,3.566779,-0.916778,-1.358216,...,-0.215699,1.086442,-0.498555,-0.231699,-0.414389,-0.277923,-0.463509,-0.400604,-0.423150,1.080650
2,0.314070,0.503210,0.010731,0.120006,-1.327718,-2.221466,-1.425909,8.374050,-0.741163,-1.912338,...,-0.215699,1.086442,-0.498555,-0.231699,-0.414389,-0.277923,-0.463509,-0.400604,2.363228,-0.925369
3,-0.499549,1.273247,-0.242699,-0.523845,1.641250,-1.316919,1.662273,2.945897,-0.952137,-1.912338,...,-0.215699,-0.920436,2.005797,-0.231699,-0.414389,-0.277923,-0.463509,-0.400604,-0.423150,1.080650
4,-0.499549,0.503210,-1.889997,0.763856,-1.327718,-2.221466,-1.425909,6.461185,-1.056740,-1.571340,...,-0.215699,-0.920436,-0.498555,-0.231699,2.413191,-0.277923,-0.463509,2.496228,-0.423150,-0.925369
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10162,-0.869375,0.503210,-0.749560,0.763856,0.651594,1.396724,0.448839,-0.144818,-0.667499,-0.548345,...,4.636093,-0.920436,-0.498555,-0.231699,-0.414389,-0.277923,-0.463509,-0.400604,2.363228,-0.925369
10163,-0.055756,-1.036866,0.390877,-1.167695,-0.338062,-1.316919,-0.108187,-1.121795,0.117759,1.071397,...,-0.215699,1.086442,-0.498555,-0.231699,-0.414389,-0.277923,-0.463509,-0.400604,-0.423150,1.080650
10164,0.388036,-1.806904,1.277883,-0.523845,-0.338062,1.396724,1.253705,-0.765700,-0.168941,0.304151,...,-0.215699,1.086442,-0.498555,-0.231699,-0.414389,-0.277923,-0.463509,2.496228,-0.423150,-0.925369
10165,-0.573514,-1.036866,0.010731,-1.811545,0.651594,-0.412371,-0.005125,0.279756,0.135144,0.730399,...,-0.215699,-0.920436,2.005797,-0.231699,-0.414389,-0.277923,-0.463509,-0.400604,-0.423150,1.080650
10166,0.388036,0.503210,0.010731,-0.523845,0.651594,-0.412371,1.122424,-0.190471,0.915394,0.815648,...,-0.215699,1.086442,-0.498555,-0.231699,-0.414389,-0.277923,-0.463509,2.496228,-0.423150,-0.925369

In [ ]:
from sklearn.neural_network import MLPRegressor
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV, train_test_split
from sklearn.datasets import make_regression

param_grid = {
    'hidden_layer_sizes': [(50,), (100,), (50,50), (100,50,25)],
    'activation': ['relu', 'tanh'],
    'solver': ['adam', 'sgd'],
    'alpha': [0.0001, 0.001, 0.01],
    'learning_rate': ['constant', 'adaptive'],
    'max_iter': [200, 500]
}

grid_search = GridSearchCV(estimator=mlp, param_grid=param_grid, cv=5, scoring='neg_mean_squared_error', n_jobs=-1)
grid_search.fit(X_train, y_train)

# For GridSearchCV
best_model_grid = grid_search.best_estimator_
print("Best parameters found by GridSearchCV:", grid_search.best_params_)
print("Best cross-validation score by GridSearchCV:", grid_search.best_score_)
print("Test set score with GridSearchCV:", best_model_grid.score(X_test, y_test))

In [ ]:
param_grid = {
    'n_estimators': [100, 200, 500],
    'max_features': ['auto', 'sqrt', 'log2'],
    'max_depth': [None, 10, 20, 30],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4],
    'bootstrap': [True, False]
}

grid_search = GridSearchCV(estimator=rf, param_grid=param_grid, cv=3, scoring='neg_mean_squared_error', n_jobs=-1)
grid_search.fit(X_train, y_train)

# For GridSearchCV
best_model_grid = grid_search.best_estimator_
print("Best parameters found by GridSearchCV:", grid_search.best_params_)
print("Best cross-validation score by GridSearchCV:", grid_search.best_score_)
print("Test set score with GridSearchCV:", best_model_grid.score(X_test, y_test))

In [205]:
df['Total_Ct_Chng_Q4_Q1'].describe()

count    10148.000000
mean         0.712114
std          0.237950
min          0.000000
25%          0.582000
50%          0.702000
75%          0.818000
max          3.714000
Name: Total_Ct_Chng_Q4_Q1, dtype: float64

'Dependent_count'